<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q</title>
</head>
<body>
    <h1>Спасибо, Ваш ответ записан</h1>
    <form>
        <input type="button" value="На главную" onClick='location.href="/"'>
        <input type="button" value="Статистика" onClick='location.href="/stats"'>
        <input type="button" value="Результаты в json" onClick='location.href="/json"'>
        <input type="button" value="Поиск" onClick='location.href="/search"'>
    </form>
</body>
</html>