<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Search</title>
<style type="text/css">
   .mainblock { 
    width: 400px; 
	margin: auto;
	text-align: center;
   }
   input[type="text"] {
   width:400px;
   }
   .but {
  color: #FFFFFF;
  text-decoration: none;
  user-select: none;
  background: #800000;
  border: 0;
  padding: 5px;
  } 
   .but:hover { background: #A52A2A; }
   .but:active { background: #B22222; }
</style>
</head>
<body>
<div class="mainblock">
<form>
<p><input required type="text" name="word"></p>
<input class = "but" type="submit" value="Поиск">
</form>
</div
</body>
</html>